---
// Ahora esto SÍ funcionará porque creaste el archivo en el paso anterior
import Layout from '../layouts/Layaout.astro';
---

<Layout title="Nicolas Diaz - Analista Programador">
    <main class="max-w-screen-xl mx-auto p-4">
		<h1 class="text-4xl font-bold mt-10">Bienvenido a mi portfolio</h1>
        <p class="text-gray-600 mt-4">Aquí irán mis proyectos y experiencia.</p>
	</main>

</Layout>