---
import Icon from './Icon.astro';
---
<secion class="hero-main">
    <div class="hero-left-content">
        <div class="tittle-info">
            <h1>Hola, soy Nicolás</h1>
            <h2>Desarrollador Frontend</h2>
            <p>Apasionado por crear experiencias web atractivas y funcionales.</p>
    </div>
    <div class="hero-buttons">
        <div class="div-btn">
            <a href="https://github.com/nicodiaz00" target="_blank" class="btn-primary">
        <!-- 1. Ícono de GitHub -->
        <Icon name="github" size="1.4rem" />
        
    </a>
        </div>
        <div class="div-btn">
            <a href="https://www.linkedin.com/in/nicodiaz00" target="_blank" class="btn-primary">
        <!-- 1. Ícono de GitHub -->
        <Icon name="linkedin" size="1.4rem" />
    </div>
    <div class="hero-right-content"></div>
</secion>

<script>
    // Aquí podrías agregar alguna funcionalidad JavaScript si es necesario
</script>

<style>
    .hero-main{
        display:flex;
        flex-direction: row;
        height: calc(100vh - var(--nav-height));
    }
</style>